.projects {
  padding-left: 50px;
  background-color: white;
  width: 70%;
  .last{
    position: relative;
    &:before{
      position: absolute;
      content:'';
      display: block;
      width: 25px;
      height: 25px;
      left: -14px;
      bottom: -8px;
      background-color: red;
      border-radius: 50%;
    }
    &:after{
      position: absolute;
      content:'';
      display: block;
      width: 15px;
      height: 15px;
      left: -9px;
      bottom: -3px;
      background-color: white;
      border-radius: 50%;
    }
  }

  &_item{
    border-left: red 3px solid;
    padding-left: 40px;
    padding-bottom: 20px;
    h3{
      margin: 0;
      position: relative;
      &:before{
        position: absolute;
        content:'';
        display: block;
        width: 25px;
        height: 25px;
        left: -54px;
        background-color: red;
        border-radius: 50%;
      }
      &:after{
        position: absolute;
        content:'';
        display: block;
        width: 15px;
        height: 15px;
        left: -49px;
        top: 5px;
        background-color: white;
        border-radius: 50%;
      }
    }


  }
span{
  font-weight: bold;
}
  a {
    text-decoration: none;
    background:
            linear-gradient(
                            to right,
                            rgba(100, 200, 200, 1),
                            rgba(100, 200, 200, 1)
            ),
            linear-gradient(
                            to right,
                            rgba(255, 0, 0, 1),
                            rgba(255, 0, 180, 1),
                            rgba(0, 100, 200, 1)
            );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    padding: 5px 0;
    &:hover{
      background-size: 0 3px, 100% 3px;
    }
  }
.edu{
  color: red;
  font-size: 1.5rem;

}
img{
  &.svg{
    width: 25px;
    margin: 0 5px;
  }
  &.code{
    width: 40px;
    margin: 0 10px;
  }
}

  h2 {
    font-weight: bold;
    font-size: 2rem;
  }

  h3 {
    color: red;
  }
  .education{
    justify-content: space-between;
    span{
      width: 40%;
    }
    p{
      width: 70%;
      margin-top: 0;
    }
  }

  .hobbies {
    padding-bottom: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 80%;

    img {
      width: 20%;
      margin-right: 20px;
    }
  }
}