@import "./src/variables";
.about{
  background: red;
  height: 1000px;
  margin-left: 40px;
  max-width: 300px;
  padding: 50px 10px 50px 10px;
  color: $aboutColor;
  p{
    font-weight: bold;
  }

  ul{
    padding: 0;
  }
  li{
    padding: 0;
    list-style: none;
    margin-bottom: 15px;

  }
}
