
@media (max-width: 480px) and (max-width: 769px) {
  .circles{
    z-index: 100;
    height: 2200px;
  }
  .area{
    height: 2200px;
  }
  .appWrapper{
    max-width: 100%;
    .resumeBlock{
      display: block;
      .leftSide{
        width: 100%;
        .myPhoto{
          margin: 40px auto;
          transform: translateY(20px);
          margin-top: 0;
          margin-bottom: 300px;
        }
    }
    }
    .rightSide {
      background-color: #9DD1F1;
      .aboutMe{
        transform: scale(0.9);
        position: absolute;
        top:35%;
      }
      order: 1;
      width: 100%;
      font-size: 1.5rem;
      &-content{
        font-size: 1.5rem;
      }
  }}}


/*
 .appWrapper{
    max-width: 100%;
    .resumeBlock{
      .leftSide{
        width: 100%;
        font-size: 1.5rem;
        h2{
  text-align: center;
        }
        .myPhoto{
          margin: 40px auto;
          transform: translateY(20px);
          margin-top: 0;
        }
      }
      .rightSide {
        order: 1;
        width: 100%;
        font-size: 1.5rem;
        &-content{
          font-size: 1.5rem;
        }
      }
    }
  }

}*/