body {
    font-family: 'Lora', serif;
    background-image: url(/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    margin-bottom: 10px;
}

.appWrapper {
    padding: 45px 15px 45px 15px;


}

.resumeBlock {
    box-shadow: -11px 11px 18px 0 rgba(34, 60, 80, 0.29);
    max-width: 1050px;
    min-width: 700px;
    margin: auto;
    background-color: #dadada;
    grid-template-areas:
"header header"
"left right";
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.leftSide {
    padding: 0 40px;
    background-color: #9DD1F1;
    grid-area: left;
    max-width: 365px;

}

.rightSide {

    padding: 0 20px;
    background-color: white;
    grid-area: right;

}

.header {
    background-color: #9DD1F1;
    grid-template-areas:
"p a"
"h h";
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.myPhoto {
    grid-area: p;
    max-width: 365px;

}

.myPhotoImg {
    max-width: 365px;
    height: auto;

}

h1 {
    background-color: #031927;
    grid-area: h;
    color: white;
    font-size: 40px;
    padding-left: 40px;

}

.aboutMe {
    grid-area: a;
    text-align: center;
    max-height: 220px;
}
.aboutMe h2 {
    font-size: 48px;
}
.aboutMe p {
    padding: 0 15px;
    font-style: italic;
    font-size: 20px;
}
.myContacts li{
    list-style: none;
}
.myContacts span {
    font-weight: bold;
}
.mySkills li {
    font-weight: bold;
}
.mySkills li p {
    margin-left: 10px;
    font-style: italic;
    font-weight: normal;
}
h2{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.languages li
{
    font-weight: bold;

}
hr{
    margin-bottom: 5px;
    height: 3px;
    color:black;
    background-color: black;
}

