body {font-family: 'Redressed', cursive;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  margin-bottom: 10px;
}


.appWrapper {
  padding: 45px 15px 45px 15px;
  max-width: 60%;
  margin: 0 auto;
}


.resumeBlock {
  display: flex;
  box-shadow: -11px 11px 18px 0 rgba(34, 60, 80, 0.29);

}
.leftSide{
  width: 350px;
  background-color: #9DD1F1;
  padding: 0 40px;
  .myPhoto{
    border-radius: 40%;
    border: 3px solid white;
    background-color: red;
    overflow: hidden;
    width: 200px;
    height: 200px;
    margin: 20px;
    img{
      width: 100%;
    position: center;
      transform: translateY(-50px);
    }
  }

}
.rightSide{
  width: calc(100% - 350px);
  background-color: white;

  &-content{
    padding: 0 15px;

    h2{
      font-style: italic;
    }
    font-size: 1rem;
  }
  .study{
    margin: 20px 0;
  }
  .section__item{
    p:nth-child(1){

      font-size: 1.1rem;
      font-weight: bold;
      margin-bottom: 5px;
    }
  }

}
.myContacts{
}

header{
  background-color: #9DD1F1;
  text-align: center;
  height: 200px;
  .aboutMe{
    h1{

    }
  }

}
hr{
  margin-bottom: 5px;
  height: 3px;
  color:black;
  background-color: black;
}
.section__item{
  margin-bottom: 20px;
}


.typing{
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
}

.animate{
  animation: typewriter 1.5s steps(28) 1s 1 normal both,
  blinkTextCursor 1s steps(44)  normal;
}
.delay {
  animation-delay: 2s;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 100%;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(0, 0, 0, 0.75);}
  to{border-right-color:  #9DD1F1;}
}